.fc .fc-popover-header {
    background: #1d2028 !important;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
}
textarea.select2-search__field {
    color: #6c757e;
}

.form-control[readOnly] {
    background-color: #13151f !important;
}

.fc .fc-more-popover .fc-popover-body {
    background: #1d2028 !important;
}
ul#iti-0__country-listbox {
    background-color: #13151f !important;
}

li.iti__standard:hover {
    background-color: #414141;
}

li.iti__active {
    background-color: #414141;
}
.admin-dashbord-user-card-body, .admin-dashbord-earning-card-header, .admin-dashbord-earning-card-body, .dashbord-doctor-card, .dashbord-doctor-card-body, .doctor-dashbord-earning-card-body, .dashbord-patient-card-body, .patient-dashbord-earning-card-header, .patient-dashbord-earning-card-body{
    background-color: #13151F !important;
}
.admin-wiget-appointment-card1, .admin-wiget-appointment-card2, .admin-wiget-appointment-card3, .doctor-wiget-appointment-card1, .doctor-wiget-appointment-card2, .doctor-wiget-appointment-card3, .patient-wiget-appointment-card1, .patient-wiget-appointment-card2, .patient-wiget-appointment-card3{
    background-color: #262832;
}
.admin-radial-bar__inset, .doctor-radial-bar__inset, .patient-radial-bar__inset {
    background-color: #13151F;
}
.admin-dashbord-user-card-header, .dashbord-patient-card-header, .dashbord-doctor-card-header{
    background-color: #262832;
}
.admin-dashbord-earning-card-header, .doctor-dashbord-earning-card-header, .patient-dashbord-earning-card-header{
    background-color: #262832 !important;
}
.patient-data{
    margin-top: -35px;
}
.doctor-data{
    margin-top: -35px;
}
.patient-smart-card-body{
    background-color: #262832 !important;
}
.card .card-body .patient-desc tr td {
    color: #ffffff;
}
.card .card-body .address-text {
    color: #ffffff;
}
.custom-width
{
    width: 210px !important;
}
